body {
    font-family: 'Segoe UI', Montserrat, Geneva, Verdana, sans-serif;
    background-image: url('imagens/fundo_site_2.jpg'); /* caminho da imagem */
    background-size: cover; /* faz a imagem preencher toda a tela */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição da imagem */
    background-attachment: fixed; /* imagem fica fixa ao rolar a página */
    color: #fff; /* muda o texto para branco se o fundo for escuro */
}
header {
  color: white;
  display: flex;
  align-items: right;
  justify-content: space-between; /* distribui os elementos */
  padding: 10px 20px;
  position: middle;
}

/* Menu de navegação */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 10;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Logomarca no canto esquero */
.logo img {
  height: 80px;  /* tamanho da logomarca */
  width: auto;
  position: left;
  top: 10px;
  left: 20px;   /* canto superior esquerdo */
}
