* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: flex-start; /* <-- joga o conteúdo para a esquerda */
    align-items: center; /* mantém centralizado na vertical */
    min-height: 100vh;
    background: url(imagens/fundo_login.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-left: 80px; /* adiciona um espacinho da borda esquerda */
}

.container {
    width: 420px;
    background: linear-gradient(rgba(0, 0, 0, 0.4));
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    text-align: center;
    font-size: 36px;
}
  
.container p {
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 15px;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.inputbox input::placeholder {
    color: #fff;
    font-size: 14px;
}

.enviar {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    background: #fff;
    color: #14321A;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    margin-top: 20px;
}

.enviar:hover {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.cancel {
    margin: 20px 0 15px;
    text-align: center;
    font-size: 14px;
}

.cancel a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.cancel a:hover {
    text-decoration: underline;
}